{% extends 'index/layout0.html' %}

{% block head %}

<style>
	#nav-capt {
		font-family:system-ui;
		z-index:2;
		font-weight:lighter;
		position:fixed;
		right:2%;
		top:4%;
		font-size:150%;
	}

	#signup-href {
		text-decoration:none;
	}

	#nav-capt a:visited {
		color:blue;
	}

	#signin-box-div {
		border-radius:5px;
		position:absolute;
		width:30%;
		left:33%;
		right:30%;
		top:20%;
		background-color:white;
		border:1px solid rgba(100,100,100,0.2);
		padding:20px;
		padding-left:30px;
	}

	#para-box-signin {
		font-family:system-ui;
		font-size:30px;
		text-align:left;
	}

	#para-box0-signin {
		font-family:system-ui;
		font-size:40px;
		font-weight:lighter;
	}

	.inputfield {
		width:70%;
		height:30px;
		border-radius:3px;
		border:solid;
		border-color:rgb(200,200,200);
		padding-left:10px;
	}

	#submit {
		border-radius:3px;
		border:solid blue;
		color:white;
		background-color:blue;
		width:15%;
		height:30px;
		transition:0.15s;
	}

	#submit:hover {
		background-color:#dbdbdb;
		border-color:#dbdbdb;
	}

	.inputfield:hover {
		position:relative;
		left:10px;
	}

	.undertext {
		font-family:system-ui;
		transition:0.15s;
		border-radius:2px;
		text-decoration:none;
		color:blue;
		font-weight:500;
	}

	.undertext:hover {
		background-color:#dbdbdb;
	}

	#message-1 {
		color:red;
		font-size:15px;
		font-weight:lighter;
		font-family:system-ui;
	}

	#message-2 {
		color:#00aeff;
		font-size:15px;
		font-weight:lighter;
		font-family:system-ui;
	}

</style>
{% endblock %}

{% block body %}

<div id = "nav-capt">
	<a href = "{% url 'register' %}" id = "signup-href"> Signup </a>
</div>

<div id = "signin-box-div">
	<div id = "para-box0-signin">
		Having a good day?
	</div>
	<div id = "para-box-signin">
		Sign into your account
	</div><br>
	{% if message %}
		<div id = "message-1">{{ message }}</div><br>
	{% endif %}
	{% if success %}
		<div id = "message-2">{{ success }}</div><br>
	{% endif %}
	<form action = "{% url 'signintry' %}" method = "post">
		{% csrf_token %}
		<input class = "inputfield" name = "identification" id = "identification" type = "text" placeholder = "Username" required><br><br>
		<input class = "inputfield" name = "password" id = "password" type = "password" placeholder = "Password" required><br><br>
		<input id = "submit" type = "submit" value = "submit">
	</form>
	<br>
	<a class = "undertext" href = "{% url 'register' %}">Don't have an account? Create an account</a>
	{% if message %}
	<br><br><br>
		<a class = "undertext" href = "{% url 'recover' %}"> Forgot username/password? </a>
	{% endif %}
</div>

{% endblock %}